@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth; /* scroll fica mais suave*/
}

.imgFundo {
  width: 10vw;
  height: auto;
} 

.logoHollanda img{
  width: 10vw;
  height: auto;
  transition: scale 0.6s ease;
  cursor: pointer;
}

.logoHollanda:hover {
  scale: 1.1;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  padding-top: 0.2vw;
  gap: 10rem;
  background-color: aqua;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 6rem;
  font-size: 1vw;
}

nav a {
  color: black;
  font-weight: 500;
}

#chico {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-image: url(../assets/imgs/chico-buarque.jpg);
  background-size: cover;
  background-position: center;
}
