@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth; /* scroll fica mais suave*/
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: row;
  background-color: rgba(245, 245, 245, 0.4); /* faz o blur funcionar */
  width: 100%;
  height: 10%;
  z-index: 1000; /* sobrepoe qualquer elemento */
  position: fixed;
  backdrop-filter: blur(10px);
}

.logoImg img{
  width: 10vw;
  height: 6vw;
  transition: scale 0.6s ease;
  cursor: pointer;
}

.logoImg:hover {
  scale: 1.1;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3vw;
  margin: 1vw;
  font-size: 1vw;
  border-radius: 5px;
}

header nav a {
  color: #D4B483;
  font-weight: 500;
}

header nav a:hover {
  /* color: blanchedalmond; */
  color: #BC9B9A;
  transition: 0.5s ease-in-out;
}

header nav .login {
  background-color: #4F443E;
  color: #FDF8F0;
  border-radius: 10px;
  padding: 1vh;
}

header nav .login:hover {
  background-color: #FDF8F0;
  color: #BC9B9A;
  transition: 0.5s ease-in-out;
}

#chico {
  display: flex;
  justify-content: center;
  align-items: start;
  background-image: url("../assets/imgs/Gemini_Generated_Image_1upd2w1upd2w1upd.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  flex-direction: column;
}

.chicoConteudo {
  width: 30%;
  margin-left: 10vw;
  font-size: 1vw;
}

#chico .chicoConteudo .chicoTitulo {
  color: #FBF7F0;
}

#chico .chicoConteudo .chicoParagrafo {
  color: #FBF7F0;
}

#sobre {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: #FDF8F0;
}

#sobre .imgSobre img{
  filter: blur(2vw);
  border-radius: 50%;
}

#sobre .sobreMimConteudo {
  width: 50%;
  line-height: 1.5vw; /* espaçamento das linhas */
}

#sobre .sobreMimConteudo p {
  font-size: 1vw;
  color: #413732;
  font-weight: 500;
}

#conheca {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: #FDF8F0;
}

#conheca .conhecaMaisImg img{
  margin: 0.5vw;
}

#conheca .conhecaMaisTexto {
  width: 50%;
  line-height: 1.5vw; 
}

#conheca .conhecaMaisTexto p {
  font-size: 1vw;
  color: #413732;
  font-weight: 500;
}

#missao {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FDF8F0;
}

#missao .missaoImg {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#missao .missaoImg img{
  margin: 1vw;
  width: 60%;
}

#missao .missaoValoresTexto {
  width: 50%;
  line-height: 1.5vw; 
}

#missao .missaoValoresTexto p {
  font-size: 1vw;
  color: #413732;
  font-weight: 500;
}

/* Carrousel Imagens */

#missao .carrousel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20vw;
  height: 15vw;
  overflow: hidden;
  border-radius: 10px;
  margin: 5vw;
  position: relative; /* importante pro absolute funcionar */
}

#missao .carrousel img {
  width: 100%;
  height: 100%;
  position: absolute; /* empilha as imagens */
  opacity: 0;
  transition: opacity 1s ease-in-out; 
}

#missao .carrousel img.active {
  opacity: 1; /* só a imagem ativa aparece */
}

/* Carrousel Imagens */

/* Carrousel Textos */

#missao .missaoValoresTexto {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 15vw;
  overflow: hidden;
  margin: 5vw;
  position: relative;
}

#missao .missaoValoresTexto p {
  width: 100%;
  height: 100%;
  margin-top: 7vw;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out; 
}

#missao .missaoValoresTexto p.active {
  opacity: 1;
}

/* Carrousel Textos */

.logoImgFooter img{
  width: 10vw;
  height: 6vw;
  transition: scale 0.6s ease;
  cursor: pointer;
}

.logoImgFooter:hover {
  scale: 1.1;
}

footer{
  background-color: #98A185;
}

.footerConteudo{
  width: 100%;
  height: 100%;
  padding: 4vw 2vw 1vw;
}

.iconesMidias{
  display: flex;
  justify-content: center;
}

.iconesMidias a{
  text-decoration: none;
  padding: 0.4vw;
  background-color: #98A185;
  margin: 0.3vw;
  border-radius: 50%;
}

.iconesMidias a i{
  font-size: 1.5vw;
  color: #4F443E;
}

.iconesMidias a:hover{
  background-color: #4F443E;
  transition: 0.5s;
}
.iconesMidias a:hover i{
  color: #FDF8F0;
  transition: 0.5s;
}

.footerNavbar ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
}

.footerNavbar ul li a{
  color:white;
  margin: 2vh;
  text-decoration: none;
  font-size: 1.1vw; 
}

.footerNavbar ul li a:hover{
  opacity: 1;
}

.footerBaixo{
  background-color: #4F443E;
  padding: 2vh;
  text-align: center;
}

.footerBaixo p{
  color: white;
}