
body { 
    font-family: Arial; 
    padding: 20px; 
    background: #f1f1f1; 
}

#jogo {
    width: 420px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 0 10px #aaa;
}

button {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border: none;
    border-radius: 5px;
    background: #3498db;
    color: white;
    cursor: pointer;
}

/* .cardJogo {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    width: 25vw;
    height: 25vw;
} */

.botaoJogo button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    padding: 10px;
    margin: 6px 0;
    border: none;
    border-radius: 5px;
    background: #31404b;
    color: white;
    cursor: pointer;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

button.selecionado {
    background: #2980b9;
    color: white;
}

button.correto {
    background: #2ecc71;
    color: white;
}

button.errado {
    background: #e74c3c;
    color: white;
}

#playBtn {
    background: #f70088;
}

.status {
    background: #eee;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}